doctype html
html(lang="en" ng-app="TechTrial")
  head
    title TechTrial
    include shared/head
  body(layout="row" layout-fill)
    md-content.md-default-theme.no-bg(layout="row" layout-fill ui-view)
